<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="accountService" class="is.ru.honn.rutube.services.RuTubeAccountService">
        <property name="accountDataGateway" ref="accountDataGateway"/>
    </bean>
    <bean id="userService" class="is.ru.honn.rutube.services.RuTubeUserService">

    </bean>

    <!-- Data Source -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>net.sourceforge.jtds.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:jtds:sqlserver://localhost:1433/rutube;instance=MSSQLSERVER</value>
        </property>
        <property name="username">
            <value>honn</value>
        </property>
        <property name="password">
            <value>honn</value>
        </property>
    </bean>


    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="accountDataGateway" class="is.ru.honn.rutube.data.AccountData">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>